<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppEmployeeManager"
        tools:targetApi="31">
        <activity
            android:name="com.stu.employeemanager.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.LoginActivity">
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.EmployeeListActivity">
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.CreateEmployeeActivity">
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.DepartmentListActivity">
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.EmployeeDetailActivity">
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.DepartmentDetailActivity">
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.HomeActivity">
        </activity>
        <activity android:name="com.stu.employeemanager.activity.AboutActivity"
            android:label="About"
            android:parentActivityName="com.stu.employeemanager.activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stu.employeemanager.activity.HomeActivity" />
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.EditEmployeeActivity">
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.CreateDepartmentActivity">
        </activity>
        <activity
            android:name="com.stu.employeemanager.activity.EditDepartmentActivity">
        </activity>




    </application>

</manifest>